<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/mainLayout"
    android:orientation="vertical"
    android:gravity="center"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".menu"
    android:background="#000000">



    <Button
        android:id="@+id/playButton"
        android:layout_width="225dp"
        android:layout_height="78.75dp"
        android:backgroundTint="#46ED4D"
        android:text="PLAY"
        android:textSize="40dp"
        android:layout_marginTop="0dp"></Button>

    <Button
        android:id="@+id/rulesButton"
        android:layout_width="225dp"
        android:layout_height="78.75dp"
        android:backgroundTint="#1178FF"
        android:text="RULES"
        android:textSize="40dp"
        android:layout_marginTop="80dp"></Button>


    <Button
        android:id="@+id/quitButton"
        android:layout_width="130dp"
        android:layout_height="57.692dp"
        android:backgroundTint="#ED3030"
        android:onClick="quitApp"
        android:text="Quit"
        android:textSize="20dp"
        android:layout_marginTop="60dp"
        android:translationY="20dp"></Button>
</LinearLayout>
